html,
body {
  font-family: 'PingFang SC';
}


@media screen and (max-width: 800px) {
  html{
    font-size: 80%;
  }
}
@media screen and (max-width: 650px) {
  html{
    font-size: 60%;
  }
}





.header {
  margin: 0;
  text-align: center;
  background-color: #24292e;
  color: #fff;
  height: 60px;
  line-height: 60px;
  user-select: none;
  font-size: 20px;
}

.dialog {
  position: fixed;
  height: 50px;
  width: 200px;
  border: 1px solid #ebebeb;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  background: #fff;
  border-radius: 5px;
  line-height: 50px;
  text-align: center;
  color:rgba(0,0,0,.8);
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -80px;
  transition: 1s;
}

.dialog.show{
  top: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: center;
  margin: 2rem 0 1rem 0;
  flex-wrap: wrap;
  padding: 0;
}

.nav .item {
  position: relative;
  list-style: none;
  font-size: 1.2rem;
  cursor: pointer;
  height: 1.8rem;
  font-weight: bold;
  padding: 0;
}

.nav .item + .item {
  margin-left: 20px;
}

.nav .item:after {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  width: 0;
  height: 100%;
  border-bottom: 2px solid #000;
  transition: 0.5s;
}

.nav .item:hover:after {
  width: 100%;
  left: 0;
}

.nav .item:hover ~ .item::after {
  left: 0;
}

.nav .item.isClicked {
  border-bottom: 2px solid #000;
}

.box {
  display: none;
}

.box.show {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.box input {
  display: none;
}

.box label {
  user-select: none;
  border: 1px solid #24292e;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 2px;
}

input[type='radio']:checked + label {
  color: #fff;
  background-color: #24292e;
}

.control-box {
  margin-top: 30px;
}
.control-box .item-width  {
  width: 100px;
}

.control-box span {
  font-size: 1.1rem;
}

.control-box button {
  cursor: pointer;
  border: 1px solid #24292e;
  background-color: #fff;
  border-radius: 3px;
  outline: none;
}

.itembox {
  display: flex;
  justify-content: flex-start;
  background-color: #24292e;
  border-radius: 10px;
  width: 80%;
  padding: 10px;
  margin-top: 30px;
  min-height: 350px;
}

.itembox .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  height: auto;
  margin: 5px;
  box-sizing: border-box;
  transition: .3s;
  padding-bottom: 10px;
}
.itembox .item .number {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #24292e;
  text-align: center;
  line-height: 30px;
  color: #fff;
}

.itembox .item input,
.itembox .item select {
  width: 95%;
  outline: none;
  border: 0;
  user-select: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-bottom: 1px solid #ddd;
  margin-top: 5px;
}

.footer {
  font-size: 15px;
}
.footer a {
  margin-right: 5px;
}
.footer span {
  margin-left: 5px;
}