*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #fff;
    color: #555;
    font-family:"Microsoft";
    font-size: 14px;
}

.wrap{
    width: 1100px;
    height: 600px;
    position: absolute;
    top: 50%;
    margin: -300px auto 0;
    left: 0;
    right: 0;
   

    perspective: 800px;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
}

/*海报样式*/
.photo{
    width: 260px;
    height: 320px;
    position: absolute;
    z-index: 1;
    box-shadow: 0 0 1px rgba(0, 0, 0, .1);

    transition: .8s ease-in-out;
}

.photo .side{
    width: 100%;
    height: 100%;
    background: #eee;
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 20px;
}
/*.photo .side_front{

}*/
.photo .side_front .image{
    width: 100%;
    height: 250px;
    line-height: 250px;
    overflow: hidden;
}
.photo .side_front .image img{
    width: 100%;
    /*height: 100%;*/
}
.photo .side_front .caption{
    text-align: center;
    font-size: 16px;
    line-height: 50px;
}
/*.photo .side_back{
    display: none;
}*/
.photo .side_back .desc{
    color: #666;
    font-size: 14px;
    line-height: 1.5em;
}


/*当前选中的海报样式*/
.photo_center{
    left: 50%;
    top: 50%;
    margin-top: -160px;
    margin-left: -130px;
    z-index: 999;
}


/*负责翻转*/
.photo_wrap{
    position: absolute;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;

    transition: .8s;
    -moz-transition: .8s;
    -o-transition: .8s;

    transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    -o-transform-origin: 0 50%;

}
.photo_wrap .side_front{
    transform: rotateY(0deg);
    -webkit-transform:  rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
}
.photo_wrap .side_back{
    transform: rotateY(180deg);
    -webkit-transform:  rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}
.photo_wrap .side{
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}
.photo_front .photo_wrap{
    transform: translate(0px,0px) rotateY(0deg);
    -webkit-transform: translateX(0px) rotateY(0deg);
    -moz-transform: translateX(0px) rotateY(0deg);
    -o-transform: translateX(0px) rotateY(0deg);
    
}
.photo_back .photo_wrap{
    transform: translate(260px,0px) rotateY(180deg);
    -webkit-transform: translateX(260px) rotateY(180deg);
    -moz-transform: translateX(260px) rotateY(180deg);
    -o-transform: translateX(260px) rotateY(180deg);
}
/*控制按钮样式*/
@font-face{
    font-family: "icons";
    src:url('../img/icons.woff') format('woff');
    font-weight: normal;
    font-size: normal;
}

/*下面标点样式*/
.nav{
    width: 80%;
    height: 30px;
    line-height: 30px;
    position: absolute;
    left: 10%;
    bottom: 20px;
    z-index: 999;
    text-align: center;
}

.nav .i {
    width: 30px;
    height: 30px;
    display: inline-block;
    cursor: pointer;
    background: #aaa;
    border-radius: 50%;
    transition: .8s;

    transform: scale(.48);
}
.nav .i:after{
    content:'\e600';
    font-family: 'icons';
    font-size:80%;
    display: inline-block;
    line-height: 35px;
    text-align: center;
    color: #fff;
    opacity: 0;
}
.nav .i_current{
    transform: scale(1);
}
.nav .i_current:after{
    opacity: 1;
}

.nav .i_back{
    transform: rotateY(-180deg);
    background: #555;
}

/*优化样式*/
.photo{
    left: 50%;
    top: 50%;
}