.tab{width: 300px;}
.tab .tab-nav{height: 30px;}
.tab .tab-nav li{float: left; margin-right: 5px;background-color: #767676; border-radius: 3px 3px 0 0;}
.tab .tab-nav li a{display: block; height: 30px; padding: 0 20px; color: #fff;line-height: 30px; text-decoration: none;}
.tab .tab-nav li.actived a{background-color: #fff; color: #767676;}
.tab .content-wrap{background-color: #fff; height: 200px; position: relative;}
.tab .content-wrap .content-item{height: 100%; box-sizing: border-box; display: none; position: absolute; padding: 5px;}
.tab .content-wrap img{width: 100%;height: 100%;}
.tab .content-wrap .current{display: block;}
/* .tab .content-wrap .show{opacity: 1;} */